.App {
  text-align: center;
}

.main-slide{
  padding: 30px;
  padding-inline: 0px;
}

.carousel .control-dots{
  padding: 30px;
  margin: 10px -10px;
}
.carousel .thumb{
  padding: 0px; 
  margin: 0px;
  /* width: 50%; */
  /* height: 50px; */
}
.carousel .thumbs-wrapper{
  margin: 0px;
}
.carousel{
  width: 110%;
}
.navigation,
.hambuger{
  margin-left: 0px;
  text-align: right;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: -35px;
}
.Title{
  text-align: center;
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
  margin-top: 10px;
}
/* .Nav{
  padding: 0px;
  margin: 0px;
  background-color:
} */
