:root{
  --darkgreen: rgb(6,40,44);
  --green: rgb(20, 58, 61);
  --lightgreen: #7DE186;
  --orange: rgb(247,99,12);
  --red: rgb(243, 41, 0);
  background-color: var(--green);
}

html{
  height: 110%;
  background-color: var(--green);
  
}
body{
  position: relative;
  /* margin: 10rem; 
  background-color: var(--green);
  min-height: 100%;
  /* padding-bottom: 8rem; */
}
.scroll{
  box-shadow: none !important;
  background-color: var(--darkgreen) !important;
}
.App {
  text-align: center;
  background-color: var(--green);
  color: var(--lightgreen);
  font-family:monospace;
  font-size: 18px;
}
.about{
  padding: 0;
  margin: auto;
  color: whitesmoke;
}
.about-p{
  padding: 2rem;
  padding-inline: 10rem;
  color: whitesmoke;
}
.main-slide{
  padding: 30px;
  padding-inline: 0px;
  margin-top: 3rem;
  clear: right;
}
.slide{
  width: auto;
  height: 45rem;
  overflow: hidden;
  clear: right;
}
.slide img{
  margin-top: -14.8rem;
  position: static;
  clear: right;
}
.carousel .control-dots{
  padding: 30px;
  margin: 10px -10px;
  position: static;
}
.carousel .thumbs{
  padding: 0px; 
  margin: 0px;
  position: static;
}
.carousel .thumbs-wrapper{
  margin: 0px;
  position: static;
}
.carousel{
  width: 110%;
  clear: right;
  position: static;
}
/* .navigation,
.hambuger{
  margin-left: 0px;
  text-align: right;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: -35px;
} */
.Title{
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.2rem;
  clear: right;
  text-shadow: 3px 2px 0px rgb(5, 27, 29);
}
.welcome{
  font-size: 26px;
  margin: 0;
  clear: right;
}
.about-title{
  font-size: 26px;
}
/* .Nav{
  padding: 0px;
  margin: 0px;
  background-color:
} */
.logo{
  width: 5%;
}

* {box-sizing:border-box;}
body {background:var(--green); font-family:monospace; color:#7DE186;}
p {background:#06282C; padding:15px; font-size:18px; line-height:1.4;}
img {max-width:100%;}
.wrap {max-width:1120px; margin:0 auto;}
.container {column-count:3; column-gap:0; margin-top:15px;}
.block {display:inline-block; width:100%; padding:0 7.5px;}
.block > div {margin-bottom:15px; font-size:0; border:2px solid #06282C}

@media screen and (max-width:1024px) {
  .container {column-count:2;}
}

@media screen and (max-width:640px) {
  .container {column-count:1;}
}

.e-card-stacked{
  text-align: center;
  align-content: center;
  padding-top: 177.5px;
  font-size: 18px;
}
.pup-card{
  background-color:rgba(181, 180, 180, 0.527);
  display: flex;
  flex-direction: row;
  align-items: center;
  clear: right;
}
.walker-card{
  background-color:rgba(181, 180, 180, 0.527);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.walkercards,
.pupcards{
  padding-inline: 10rem;
  padding-block: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.review-card{
  background-color: var(--darkgreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 10rem;
  padding: 1rem;
  padding-top: 0.06rem;
  height: 140px;
  overflow-y: scroll;
}
.review-form{
  background-color: var(--darkgreen);
  padding: 1rem;
  padding-inline: 4rem;
}
.PupCardImg{
 width: 38rem;
 height: 25rem;
 min-width: 40rem;
}

.card-body{
  /* display: flex;
  flex-direction: column; */
  padding-inline: 10rem;
  width: 100rem;
  align-content: center;
}

.card-text{
  margin-block: 0.5rem;
  margin-inline: 10rem;
  min-width: 12rem;
  font-size: 18px;
  color: whitesmoke;
  letter-spacing: 1px;
}
#review-card-text{
  letter-spacing: normal;
  margin-inline: 1rem;
}
.review-title,
#card-title{
  font-size: 38px;
  letter-spacing: 0.2rem;
  font-weight: 50;
  color:var(--lightgreen);
  text-shadow: 3px 3px 0 var(--green);
}
.review-title{
  font-size: 20px;
  text-shadow: none;
}
.walker-img{
  display: flex;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
}
.review-container,
.form-container,
.new-pup-form,
.profile,
.form-parent, 
.not-found{
  padding-top: 5rem;
}

#custom-switch{
  float: right;
  text-align: left;
  margin-right: 2rem;
  width: 15%;
}
.form-check-label{
  float: left;
}
.form-floating{
  color:rgb(59, 59, 59);
}
.review-container,
.account-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clear: right;
}
.form-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  clear: right;
}
.form-border{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 8rem;
  padding-left: 5rem;
  padding-block: 2rem;
  background-color:rgba(181, 180, 180, 0.4);
  clear: right;
}
.form-control{
  text-align: center;
}

.edit-pup-form,
.form{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: auto;
  width: 20rem;
  padding: 0.5rem;
  background-color:var(--darkgreen);
}
.edit-pup-form,
.account-form, 
.account-nonform{
  background-color:var(--darkgreen);
  justify-content: center;
  align-content: center;
  padding: 0.8rem;
  padding-inline: 1rem;
}
.edit-pup-form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
#new-pup{
  width: 24rem;
  margin-top: -2.8rem;
}
.account-form{
  padding-inline: 3rem;
}
.form-pic{
width: 20.6rem;
height: auto;
margin-left: auto;
overflow: hidden;
}
.form-pic img{
  margin-right: -140px;
  margin-left: -34px;
}
.datepicker{
  width: 16rem;
  padding: 0.45rem;
  border-radius: 0.5rem;
}
.profile-info{
  font-size: 18px;
}

.links-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  clear: both;
}
.profile-btn-container{
  justify-content: center;
  min-width: 33%;
  /* margin-inline: 10rem; */
}
.profile-btn-container:first-child {
  margin-right: auto; 
  }
.profile-btn-container:last-child {
  margin-left: auto;
}
.profile-li{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  clear: both;
}
.profile-btn{
  margin-inline: 13rem;
}
.nav-dropdown{
  background-color: var(--green);
}
.walker-btn,
.primary-btn{
  font-size: 18px;
  padding-inline: 0.8rem;
  margin: 1rem;
  height: 35px;
  border-width:1px;
  color:#fff;
  border-color: var(--green);
  font-weight:bold;
  font-family: monospace;
  box-shadow:inset 0px 1px 0px 0px var(--green);
  background:linear-gradient(rgb(35, 91, 83), rgba(41, 124, 85, 0.786));
}
.walker-btn{
  margin-bottom: 8rem;
  font-size: 18px;
  font-weight: 100;
}

.walker-btn:hover,
.primary-btn:hover {
  background: linear-gradient(rgba(41, 124, 85, 0.786), rgb(35, 91, 83));
}
.profile-txt,
.secondary-btn{
  font-size: 18px;
  padding-inline: 0.8rem;
  margin: 1rem;
  height: 35px;
  color: var(--lightgreen);
  border-bottom: 0.5px solid var(--lightgreen);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  font-family: monospace;
  background: transparent;
}
.profile-txt{
  margin-inline: auto;
  height: 1.5rem;
  border-bottom: 0.5px solid whitesmoke;
  width: fit-content;
  align-items: center;
  margin-block: 0.8rem;
}

#edit-btn,
#x-btn{
  padding: 0.5rem;
  line-height: 2rem;
  font-size: 18px;
  font-weight: 50;
  margin-inline: 0.4rem;
}
.profile-txt,
.text{
  color:whitesmoke; 
  font-size: 18px;
  line-height: 1;
}
#welcome-slogan{
  color: var(--lightgreen);
}
.delete-btn{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-inline: 0.8rem;
  margin: 1rem;
  height: 35px;
  color: var(--orange);
  border-bottom: 0.5px solid var(--orange);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  font-weight: 600;
  font-family: monospace;
  background: transparent;
  margin-top: 8rem;
}
