:root{
  --green: rgb(20, 58, 61);
  --lightgreen: #7DE186;
}

.App {
  text-align: center;
}

.main-slide{
  padding: 30px;
  padding-inline: 0px;
}

.carousel .control-dots{
  padding: 30px;
  margin: 10px -10px;
}
.carousel .thumb{
  padding: 0px; 
  margin: 0px;
  /* width: 50%; */
  /* height: 50px; */
}
.carousel .thumbs-wrapper{
  margin: 0px;
}
.carousel{
  width: 110%;
}
.navigation,
.hambuger{
  margin-left: 0px;
  text-align: right;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: -35px;
}
.Title{
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.2rem;
  font-weight: 50;
}

/* .Nav{
  padding: 0px;
  margin: 0px;
  background-color:
} */

* {box-sizing:border-box;}
body {background:var(--green); font-family:monospace; color:#7DE186;}
p {background:#06282C; padding:15px; font-size:14px; line-height:1.4;}
body {font-family:monospace}
img {max-width:100%;}
.wrap {max-width:1120px; margin:0 auto;}
.container {column-count:3; column-gap:0; margin-top:15px;}
.block {display:inline-block; width:100%; padding:0 7.5px;}
.block > div {margin-bottom:15px; font-size:0; border:2px solid #06282C}

@media screen and (max-width:1024px) {
  .container {column-count:2;}
}

@media screen and (max-width:640px) {
  .container {column-count:1;}
}

.e-card-stacked{
  text-align: center;
  align-content: center;
  padding-top: 177.5px;
  font-size: 16px;
}
.pup-card{
  background-color:rgba(181, 180, 180, 0.527);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pupcards{
  padding-inline: 10rem;
  padding-block: 2rem;
}

.PupCardImg{
 width: 38rem;
 height: 25rem;
}

.card-body{
  display: flex;
  flex-direction: column;
  padding-inline: 10rem;
  width: 100rem;
}

.card-text{
  margin-block: 0.5rem;
  font-size: 16px;
  color: whitesmoke
}

#card-title{
  font-size: 38px;
  letter-spacing: 0.2rem;
  font-weight: 50;
  color:var(--lightgreen)
}
.walker-img{
 width: 60rem;
 align-items: center;
 align-content: center;
}
.reviews{
  color: whitesmoke;
  padding: .2rem;
  margin: .2rem;
}